body {
  background-color: rgb(36, 34, 34);
}

.calc {
  width: 320px;
  margin: 18% auto;
  display: block;
}

#answer {
  background-color: #afb192;
  padding: 10px;
  font-size: 35px;
  width: 295px;
  height: 46px;
  text-align: right;
  border: 3px #eee solid;
  color: #eee;
}

#answer::placeholder {
  color: #eee;
}

.button {
  background-color: #003459;
  height: 80px;
  width: 80px;
  color: rgb(230, 224, 224);
  font-size: 30px;
  border: 2 #eee solid;
  float: left;
  cursor: pointer;
}

.button1 {
  width: 160px;
  background-color: #c71f37;
} 

.button2 {
  width: 160px;
  background-color: #058c42;
}